<div class="container-fluid" ng-controller="PasswordSafeController as passwordSafe" ng-init="passwordSafe.initializePasswordSafe()">
    <div class="row">
        <div class="col-xs-12">
            <table id="onlineAccountsTable" 
                   class="table table-striped table-bordered" cellspacing="0" width="100%"
                   online-accounts-table options="">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Account</th>
                        <th>Type</th>
                    </tr>
                </thead>
            </table>
            <div class="btn-group" id="onlineAccountsTableActions" style="display:none">
                <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown">
                        Action <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="" ng-click="passwordSafe.openAddRecordModal()" data-toggle="modal">
                                Add
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="passwordSafe.deleteRecord()" data-toggle="modal">
                                Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Record Modal -->
    <div class="modal fade" id="addRecordModal" tabindex="-1" role="dialog" aria-labelledby="addRecordModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addRecordModalLabel">Add Record</h4>
                </div>
                <div class="modal-body">
                    <div id="warningAlert" class="alert alert-warning" role="alert" 
                         ng-show="passwordSafe.showErrorMessage">{{passwordSafe.errorMessage}}</div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="serviceName">Name</label>
                                <input type="text" class="form-control" id="serviceName"
                                       placeholder="Enter Service Name" ng-model="passwordSafe.addRecord.serviceName">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="serviceType">Service Type</label>
                                <input type="text" class="form-control" id="serviceType"
                                       placeholder="Enter Service Type" ng-model="passwordSafe.addRecord.serviceType">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username"
                                       placeholder="Enter Username" ng-model="passwordSafe.addRecord.username">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password"
                                       placeholder="Enter Password" ng-model="passwordSafe.addRecord.password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="secretQuestion1">Secret Question 1</label>
                                <input type="text" class="form-control" id="secretQuestion1"
                                       placeholder="Enter Secret Question" ng-model="passwordSafe.addRecord.secretQuestion1">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="secretAnswer1">Secret Answer 1</label>
                                <input type="text" class="form-control" id="secretAnswer1"
                                       placeholder="Enter Secret Answer" ng-model="passwordSafe.addRecord.secretAnswer1">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="secretQuestion2">Secret Question 2</label>
                                <input type="text" class="form-control" id="secretQuestion2"
                                       placeholder="Enter Secret Question" ng-model="passwordSafe.addRecord.secretQuestion2">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="secretAnswer2">Secret Answer 2</label>
                                <input type="text" class="form-control" id="secretAnswer2"
                                       placeholder="Enter Secret Answer" ng-model="passwordSafe.addRecord.secretAnswer2">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="secretQuestion3">Secret Question 3</label>
                                <input type="text" class="form-control" id="secretQuestion3"
                                       placeholder="Enter Secret Question" ng-model="passwordSafe.addRecord.secretQuestion3">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="secretAnswer3">Secret Answer 3</label>
                                <input type="text" class="form-control" id="secretAnswer3"
                                       placeholder="Enter Secret Answer" ng-model="passwordSafe.addRecord.secretAnswer3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="passwordSafe.save()">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>